{% extends "layout.twig" %}

{% block title %}Une erreur s'est produite{% endblock %}

{% block main %}
    <h2>Oops, quelque chose d'anormal est arrivé (-_-) !</h2>
    <p>mais rassurez-vous on à mis nos meilleurs gars sur le coup</p>
    <p>{{ message }}</p>
{% endblock %}
